div#main-front {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  div.front-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    button.btn.btn-primary{
        background-color: #E91E63;
        border: #E91E63;
    }
    a.btn.btn-outline-light:hover{
        background-color: #E91E63;
        border: #E91E63;
    }
    #exampleModal{
        color:black;
    }
    div {
      text-align: center;
    }
    div.countdown-container {
      display: flex;
      flex-direction: row;
      div.item {
        padding: 2em;
      }
    }
  }
}
