div#main-front {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  div.front-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      text-align: center;
    }
  }
}
body{
    color:black;
}
